@import "./assets/styles/navbar";
@import "./assets/styles/main";
@import "./assets/styles/courses";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.43;
  color: #29303b;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}
