.navbar {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 65px;

  &__logo {
    padding-right: 2rem;
    img {
      width: 100px;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    flex: 1 1;

    &--dropdown {
      display: flex;
    }

    &--icon {
      padding-right: 0.5rem;
      color: #a1a7b3;
    }

    &--text {
      padding-right: 2rem;
    }
  }

  &__search {
    flex-basis: 80%;
    padding-right: 1rem;

    &--container {
      position: relative;
    }

    input[type="text"] {
      width: 100%;
      padding: 0.8rem;
    }

    button {
      position: absolute;
      background: none;
      top: 0;
      right: 0;
      height: 100%;
      padding: 0.8rem;
      border: 0;
      color: #ec5252;

      &:hover {
        background-color: #ec5252;
        color: #fff;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;

    &--link {
      color: #505763;
      padding-right: 2rem;
      font-size: 0.85rem;
      font-weight: 300;
    }

    i {
      font-size: 1.2rem;
      padding-right: 2rem;
    }

    button {
      padding: 0.8rem 0.8rem;
      margin-right: 0.2rem;
      font-weight: 600;
      font-size: 0.9rem;
    }

    &--log-button {
      background: #fff;
      color: #686f7a;
      border: 1px solid;
    }

    &--sign-button {
      background: #ec5252;
      color: #fff;
      border: 1px solid #ec5252;
    }
  }
}
